@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&family=Jost:wght@400;700&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Hanken Grotesk', var(--font-stack, sans-serif);
    font-size: var(--font-size-medium);
    font-family: var(--font-stack);
    font-weight: 400;
    color: var(--white-1);
    line-height: var(--line-height-normal);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

.heading-primary {
    line-height: 1;
    font-size: var(--font-size-huge);
    font-weight: 400;
}
